// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "./custom.scss";

// Global
* {
    box-sizing: border-box;
}

@mixin mobile {
    @media (max-width: 599px) {
        @content;
    }
}

body {
    margin: 0;
    overflow: hidden;
    @include mobile() {
        overflow: scroll;
    }
}

main {
    display: flex;
    height: 100vh;
    @include mobile() {
        display: unset;
    }
}

nav {
    padding-top: 1.5rem;
    width: 15%;
    flex-shrink: 0;
    min-width: fit-content;

    @include mobile() {
        width: 100%;
    }

    .nav {
        flex-direction: column;
        font-size: 1.25rem;

        i {
            font-size: 1.5rem;
            margin-right: 1rem;
            width: 20px;
            text-align: center;
        }

        .nav .nav-item {
            margin-top: 1rem;
            margin-left: 1rem;
            font-size: 0.875rem;
            font-weight: 500;
            text-transform: uppercase;

            .nav-link.active {
                color: $primary;

                @include mobile() {
                    color: $dark !important;
                }
            }
        }
    }

    .user-nav {
        width: 100%;
        text-align: center;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;

        i {
            font-size: 7rem;
            vertical-align: middle;
        }

        div {
            font-weight: 500;
            font-size: 1.25rem;
            margin-top: 0.5rem;
            text-transform: capitalize;
        }
    }

    a {
        color: inherit;
    }
}

article {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-around;
}

i {
    vertical-align: middle;
}

.toast {
    position: fixed;
    top: 3.5%;
    z-index: 8;
    right: 3.5%;
}

p {
    text-indent: 2rem;
}

.card {
    // flex-direction: row;

    img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        margin: 1.25rem 0 1.25rem 1.25rem;
    }

    p {
        text-indent: 0;
        white-space: break-spaces;
    }

    .dropdown {
        display: inline-block;

        .dropdown-toggle {
            &::after {
                display: none;
            }
        }
    }
}

.nav-link.active {
    background-color: $primary;
}
